@import url("https://fonts.googleapis.com/css?family=Numans");
{% loadstatic %}
body {

}

body,
button,
input {
  font-family: "Numans", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.navbar {
  background: #070617;
  color: #fff;
  padding: 15px;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar .logo {
  cursor: pointer;
}

.navbar ul.links {
  margin-left: auto;
  margin-right: 50px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.4s ease all, 0s ease background;
  -o-transition: 0.4s ease all, 0s ease background;
  transition: 0.4s ease all, 0s ease background;
}
.navbar ul.links li {
  text-transform: uppercase;
  padding: 0 15px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.4s ease all, 0s ease margin;
  -o-transition: 0.4s ease all, 0s ease margin;
  transition: 0.4s ease all, 0s ease margin;
}
.navbar ul.links li a {
  text-decoration: none;
  color: #fff;
}
.navbar ul.links li:hover {
  background: #ffc600;
  cursor: pointer;
}
.navbar ul.links li:hover a {
  color: #080808;
}

button {
  background: #ffc600;
  outline: none;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 25px;
  border: 1px solid #e6b200;
  letter-spacing: 1px;
}
button:hover {
  cursor: pointer;

  background: white;
}

.navbar.sticky {
  position: fixed;
  z-index: 40;
}

.navbar.sticky ~ main {
  position: relative;
  z-index: 20;
  top: 65px;
}
.main-container {
  padding: 5rem;
}

@media screen and (max-width: 750px) {
  .navbar .right {
    height: 0;
    overflow: hidden;
  }

  .toggle {
    position: absolute;
    top: 32.5px;
    right: 20px;
    z-index: 99;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .toggle > * {
    width: 80%;
    height: 2px;
    background: #fff;
    margin: 3px 0;
  }

  .navbar.collapsed .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-4px, 5px);
    -ms-transform: rotate(-45deg) translate(-4px, 5px);
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .navbar.collapsed .toggle .line2 {
    opacity: 0;
  }
  .navbar.collapsed .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    -ms-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .navbar.collapsed .logo {
    position: absolute;
    z-index: 44;
  }

  .navbar .links {
    position: fixed;
    background: #080808;
    z-index: 40;
    top: 0;
    left: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 45vw;
    height: 100vh;
  }
  .navbar .links li:first-child {
    margin-top: 80px;
  }

  .navbar.collapsed .links {
    left: 0;
  }
  .navbar.collapsed .links a {
    color: #fff;
  }
  .navbar.collapsed .links li {
    width: 100%;
  }
  .navbar.collapsed .links li:hover a {
    color: #080808;
  }

  .navbar.collapsed .right {
    position: fixed;
    width: 45vw;
    text-align: center;
    height: auto;
    bottom: 40px;
    left: 22.5vw;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 45;
  }

  .navbar.collapsed ~ main {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    opacity: 0.8;
  }

  .navbar.sticky {
    position: fixed;
    z-index: 40;
  }
}

/* main */
.Alumini-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Alumini-text h1 {
  color: #e6b200;
  margin: 0.5rem;
}
.Alumini-text h3 {
  color: #e6b200;
  margin: 1rem;
}

.Alumini-text ul {
  list-style: none;
  margin-right: 1rem;
  color: black;
}
.Alumini-text ul li {
  margin: 0.5rem;
}

/* Card */

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.card-header h3 {
  color: white;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  -webkit-box-shadow: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

@media screen and (max-width: 993px) {
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;
  }
  .Alumini-text {
    margin: 1rem;
  }

  .card {
    margin: 1rem;
  }
}

/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
  margin-top: 5rem;
}
.footer .col {
  width: 33%;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.footer .col p {
  color: rgba(170, 169, 169, 0.733);
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: white;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}
.clearfix {
  clear: both;
}

/* Social Media icon styles */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;

  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;

  color: white;
}

.fa-instagram {
  background: #d6249f;
  background: -o-radial-gradient(
    30% 107%,
    circle,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
}

/* end social media styles */

@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 660px) {
  .footer .col {
    width: 100%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
