{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'contact/css/contact.css' %}"/>
{% endblock %}

{% block body %}
<div class="contact">

    <div class="contact-text">
      <h1>Don't Hesitate<br> get in Touch with Us </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias officia perferendis quos. Adipisci
          assumenda at atque beatae cupiditate dolore ea ex, expedita, explicabo id illum iste laboriosam nihil pariatur
          perspiciatis quasi quod reprehenderit sint soluta voluptatum! Culpa exercitationem fugit hic illum quam saepe
          unde voluptatibus. Asperiores maiores minus repudiandae sunt.</p>
  </div>
  <div class="contact-form">
      <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <h1><input type="submit" class="btn btn-success"></h1><br>
      </form>

  </div>
</div>


{% endblock %}
