{% extends 'base/base.html' %}
{% load static %}
{% block title %}Setting New password{% endblock %}

{% block css %}
    <link href="{% static 'registration/css/reset-password.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="container" style="height:55vh">
        <div class="col-sm-6 container-center">
            {% if validlink %}
                <p>Please enter your new password twice.<br/>
                    So we can verify you typed it in correctly.</p>
                <h5 style="text-align: center;">New Password</h5>
                <br>
                <form action="" method="post">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="id_new_password1">New Password:</label>
                        {{ form.new_password1 }}
                        <span id="new_password1" class="errors"></span>
                        {{ form.new_password1.errors }}
                    </div>
                    <div class="form-group">

                        <label class="control-label" for="id_new_password2">Confirm Password:</label>
                        {{ form.new_password2 }}
                        <span id="new_password2" class="errors"></span>
                        {{ form.new_password2.errors }}
                    </div>
                    <div class="text-right">
                        <input type="submit" class="btn newPasswordButton" style="margin-left: 0" value="Submit">
                    </div>
                    <br>

                    <!--                    <input type="submit" value="Change my password"/>-->
                </form>
            {% else %}
                <h1>Password reset unsuccessful</h1>
                <p>The password reset link was invalid, <br/>
                    possibly because it has already been used. <br/>
                    Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'registration/js/reset_confirm.js' %}"></script>
{% endblock %}