{% extends 'base/base.html' %}
{% load static %}
{% block title %}Password reset successful{% endblock %}
{% block css %}
    <link href="{% static 'registration/css/reset-password.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="container reset-password" style="height:60vh;max-width: 100vw">
        <div class="col-sm-6 container-center" style="color:black;background:white">
    <h5>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</h5>
    <br><h5>You should be receiving it shortly.</h5>
        </div>
</div>
{% endblock %}