{% extends 'base/base.html' %}
{% load static %}
{% block title %}Password reset complete{% endblock %}

{% block css %}
    <link href="{% static 'registration/css/reset-password.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container reset-password" style="height:60vh;max-width: 100vw">
        <div class="col-sm-6 container-center" style="color:black;background:white;text-align: center">
    <h5>Your password has been set. You may go ahead and log in now.</h5>
<!--    <h4><a href="{{ login_url }}">Log in</a></h4>-->
            <a href="{{ login_url }}" ><button type="button" style="margin:2rem;">Login</button></a>
        </div>
</div>
{% endblock %}